<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/admin_home.css" />
</head>
<body>
    <div class="header">
        <a href="admin_home.html" class="logo">Store Manager</a>
        <div class="header-right">
            <a href="login.html">Log out</a>
        </div>
    </div>
    <div class="container">
        <a class="card_1" href="sale_records.html">
            <div class="card-header">
                <div class="card-title">
                    <p>Sale records</p>
                </div>
            </div>
        </a>
        <a class="card_2" href="inventory.html">
            <div class="card-header">
                <div class="card-title">
                    <p>Modify Inventory</p>
                </div>
            </div>
        </a>
        <a class="card_3" href="new_product.html">
            <div class="card-header">
                <div class="card-title">
                    <p>New product</p>
                </div>
            </div>
        </a>
        <a class="card_4" href="user_register.html">
            <div class="card-header">
                <div class="card-title">
                    <p>New store Attendant</p>
                </div>
            </div>
        </a>
    </div>
</body>
</html>