<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/admin_home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <a href="admin_home.html" class="logo">Store Manager</a>
        <div class="header-right">
            <a href="login.html">Admin Log out</a>
        </div>
    </div>
    <div class="container">
        <a class="card_1" href="sale_records.html">
            <span class="card-header">
                <i class="fa fa-file-text"></i>
                <span class="card-title">
                    <p>Sale records</p>
                </span>
            </span>
        </a>
        <a class="card_2" href="inventory.html">
            <span class="card-header">
                <i class="fa fa-cubes"></i>
                <span class="card-title">
                    <p>Inventory</p>
                </span>
            </span>
        </a>
        <a class="card_3" href="new_product.html">
            <span class="card-header">
                <i class="fa fa-plus"></i>
                <span class="card-title">
                    <p>New product</p>
                </span>
            </span>
        </a>
        <a class="card_4" href="new_product.html">
            <span class="card-header">
                <i class="fa fa-edit"></i>
                <span class="card-title">
                    <p>Edit product</p>
                </span>
            </span>
        </a>
        <a class="card_5" href="delete_product.html">
            <span class="card-header">
                <i class="fa fa-trash"></i>
                <span class="card-title">
                    <p>Delete product</p>
                </span>
            </span>
        </a>
        <a class="card_6" href="user_register.html">
            <span class="card-header">
                <i class="fa fa-user-plus"></i>
                <span class="card-title">
                    <p>New store Attendant</p>
                </span>
            </span>
        </a>
    </div>
</body>
</html>