<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/login.css" />
</head>
<body>
    <div class="header">
        <h1>Store Manager</h1>
        <div class="buttons">
            <button class="login_link" onclick="show(event, 'admin_login')" type="button" name="admin_login_button">Store Owner Login</button>
            <button class="login_link" onclick="show(event, 'user_login')" type="button" name="user_login_button">Store Attendant Login</button>
        </div>
    </div>
    <div class="personal_details" id="admin_login">
        <form class="login">
            <div class="username">
                <label for="Admin_Username">Admin username: </label>
                <input type="text" name="user_name" id="Admin_Username" placeholder="User name" required />
            </div>
            <div class="password">
                <label for="admin_pwd">Admin password: </label>
                <input type="password" name="Password" id="admin_pwd" placeholder="Password" required />    
            </div>
            <div class="submit_button">
                <button type="button" name="SubmitButton">Submit</button>
            </div>
        </form>
    </div>
    <div class="personal_details" id="user_login">
        <form class="login">
            <div class="username">
                <label for="Username">Username: </label>
                <input type="text" name="user_name" id="Username" placeholder="User name" required />
            </div>
            <div class="password">
                <label for="pwd">Password: </label>
                <input type="password" name="Password" id="pwd" placeholder="Password" required />    
            </div>
            <div class="submit_button">
                <button type="button" name="SubmitButton">Submit</button>
            </div>
        </form>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>