<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/user_profile.css" />
</head>
<body>
    <div class="header">
        <a href="user_home.html" class="logo">Store Manager</a>
        <div class="header-right">
            <a href="login.html">Log out</a>
        </div>
    </div>
    <div class="profile">
        <div class="personal-info">
            <div class="pic">
                <span>
                    <h3>profile pic</h3>
                </span>
            </div>
            <div class="identity">
                <p>Full name:</p>
                <h3>Calvin Peter</h3>
                <p>username:</p>
                <h3>CalvinPete</h3>
                <p>Company ID:</p>
                <h3>67</h3>
            </div>
            <div class="contact-info">
                <p>Phone Number:</p>
                <h3>+256-773-548-160</h3>
                <p>Email Address:</p>
                <h3>tinkacalvin@gmail.com</h3>
            </div>
        </div>
        <div class="summary-report">
            <div class="card">
                <div class="card-title">
                    <h4>Total Sales</h4>
                </div>
                <div class="card-details">
                    <h2>388,492.81</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h4>Transactions</h4>
                </div>
                <div class="card-details">
                    <h2>132</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h4>Goods sold</h4>
                </div>
                <div class="card-details">
                    <h2>152</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h4>Sales this week</h4>
                </div>
                <div class="card-details">
                    <table>
                        <tr>
                            <td>Cash Sales</td>
                            <td>123,000</td>
                        </tr>
                        <tr>
                            <td>Credit Sales</td>
                            <td>69,900</td>
                        </tr>
                        <tr>
                            <td>(Discounts)</td>
                            <td>43.17</td>
                        </tr>
                        <tr>
                            <td>(Tax)</td>
                            <td>38,839.7</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h4>Top selling items</h4>
                </div>
                <div class="card-details">
                    <ol>
                        <li>Airtime</li>
                        <li>Beverages</li>
                        <li>Sugar</li>
                        <li>Milk</li>
                        <li>Bread</li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h4>Hours logged this week</h4>
                </div>
                <div class="card-details">
                    <h2>20.4</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>