<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sale Records</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/user_sale_records.css" />
</head>
<body id="sale-container">
    <div class="header">
        <a href="user_home.html" class="logo">Store Manager</a>
        <div class="header-right">
            <a href="login.html">Log out</a>
        </div>
    </div>
    <div class="sales">
        <div class="search-sale">
            <label for="Search">Search:</label>
            <input type="text" id="Search" name="search" placeholder="sale record"/>
        </div>
        <div class="sale-records">
            <table class="sales-table">
                <tr>
                    <th>Date of sale</th>
                    <th>Product Code</th>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Discount</th>
                    <th>Tax</th>
                    <th>Amount (Shs.)</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>23.08.18 11:10:12</td>
                    <td>001</td>
                    <td>UHT milk choclate flavor 250ml</td>
                    <td>2 boxes</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>3000.00</td>
                    <td>Credit</td>
                </tr>
                <tr>
                    <td>23.08.18 11:10:12</td>
                    <td>011</td>
                    <td>Afia juice 250ml</td>
                    <td>10</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>25000.00</td>
                    <td>Credit</td>
                </tr>
                <tr>
                    <td>23.08.18 11:10:12</td>
                    <td>089</td>
                    <td>Omo 1kg</td>
                    <td>1 packet</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>8000.00</td>
                    <td>Cash</td>
                </tr>
                <tr>
                    <td>23.08.18 11:10:12</td>
                    <td>1304</td>
                    <td>Tusker malt 300ml</td>
                    <td>1 crate</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>75000.00</td>
                    <td>Credit</td>
                </tr>
                <tr>
                    <td>23.08.18 11:10:12</td>
                    <td>681</td>
                    <td>sugar 1kg</td>
                    <td>4 packets</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>15300.00</td>
                    <td>Cash</td>
                </tr>
                <tr>
                    <td>23.08.18 11:10:12</td>
                    <td>3211</td>
                    <td>Safari gumboots</td>
                    <td>2 pairs</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>30000.00</td>
                    <td>Cash</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>